---
const { content } = Astro.props;
---

<html>
<!-- ... -->

<head>
    <title>{content.title}</title>
</head>

<header class="bg-gray-800 text-white p-8">
    <a href="/">Logo</a>
</header>
<div class="prose">
    <div set:html={content.astro.html}></div>
</div>

<!-- <div class="prose">
    <slot />
</div> -->
<!-- ... -->

</html>